.dashboard-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-navbar {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
