<header class="login-header">
  <img src="assets/logo-ipi.png" class="logo" alt="IPI Logo">
</header>

<div class="login-wrapper">
  <div class="login-card">
    <h2>Register</h2>

    <input type="text" placeholder="Ime">
    <input type="email" placeholder="Email">
    <input type="password" placeholder="Password">

    <label for="theme">Tema:</label>
    <select id="theme">
      <option value="green">Zelena</option>
      <option value="blue">Plava</option>
      <option value="orange">Narandzasta</option>
      <option value="cyberpunk">Cyberpunk</option>
    </select>

    <button>Register</button>

    <p class="register-link">
      Vce imas racun?
      <a routerLink="/login">Login</a>
    </p>
  </div>
</div>
